{% extends "layout.html" %}
{% block body %}
<br>

<h3>Hakkımızda</h3>
<hr>
{% load static %}

<p style="font-size: 20px">
    Biz, gençlerden oluşan bir ekip olarak bu işe adım atarken inandık...<br>
    Üzerine düşünülmüş, yorum yapılmış dolayısıyla işlenmiş bilginin çağımızın cevheri olduğunu biliyorduk ve bu değerlerin diğer insanlarla da paylaşılması gerektiğine inandık. 
    Geleceğin gençlerin olduğunu, onu bizim şekillendireceğimizi gördük, kendimize inandık. 
    Belki, bir şekilde bu site ile insanlığa, gençliğe ve bilginin kendisine hizmet edebileceğimize inandık. 
    mustakil.cc ‘de güncel her alanda yazılar paylaşılıyor. 
    Kullanıcılar, sosyal bilimlerden savunma sanayiine, tercümelerden teknolojiye birçok konuda makalelere tek tık ile erişim sağlayabiliyor. 
    Ayrıca, yetkin olduğu alanda kendi makalelerini de paylaşıp hem diğer kullanıcıları aydınlatıyor hem de onların yapıcı eleştirileri ile kendini geliştiriyor. 
    Bu anlamda bir bilgi havuzu oluşturuyoruz. 
    Biz, burada sadece araç konumundayız ve temel amacımız, 
    özgün ve kaliteli bilgiye en kolay biçimde ulaşımının sağlanmasına ve emek harcanarak oluşturulan yazıların kolayca paylaşılmasına yardım edebilmek. 
    <br><br>Siz de bizim inandıklarımıza inanıyorsanız, kolayca kaydolup toplumun geleceğine ve bilgiye hizmet etmeye başlayabilirsiniz.
</p>

{% endblock body %}