  {% extends "layout.html" %}



{% block body %}
{% load static %}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

  </ol>
  <div class="carousel-inner">
  <div class="carousel-item active">
        <div class="jumbotron text-center" style="background-color: #d2e1e7; margin-top: 10px" class="d-block w-100" alt="..." width="500" height="300">

            {% if request.user.is_authenticated %}
            <h3>Hoş geldin {{request.user.username}}</h3>
            
            {% else %}
            <h3>Bloğa Hoş Geldiniz!</h3>
            <hr>
            <p>Makale Eklemek İçin Lütfen Giriş Yapın</p>
            {% endif %}
            
            
            </div>
    </div>
    <div class="carousel-item">
        <div class="jumbotron text-center" style="background-color: #d2e1e7; margin-top: 10px" class="d-block w-100" alt="..." width="500" height="300">
            <h3>Yazar olmak için başvuru yapabilirsiniz!</h3>
                        
            </div>
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br><br>
<hr>
<h1><strong>Son Yazılar</strong></h1><hr><br>

{% for article in articles %}

{% if article != Null %}

{% if article.article_image %}



<div class="card md-12">
  <h5 class="card-header">{{article.kategori}}</h5>
  
  
      <br>
      <img src="{{article.article_image.url}}" class="card-img-top" alt="" style="width:200px; height:100px; margin-left: 15px">
    
  
      <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">{{article.content|safe|truncatewords:20|striptags}}</p>
        <a href="{% url 'article:detail' article.id %}" class="btn btn-primary float-right" style="margin-bottom: 20px">Devamını Oku...</a>
      </div>

  
</div>
<br>

{% else %}

      <div class="card md-12">
          <h5 class="card-header">{{article.kategori}}</h5>
          <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text">{{article.content|safe|truncatewords:40|striptags}}</p>
            <a href="{% url 'article:detail' article.id %}" class="btn btn-primary float-right">Devamını Oku...</a>
          </div>
        </div>
        <br>



{% endif %}

{% endif %}

{% endfor %}



{% endblock body %}
