<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Müstakil</title>
</head>
<body style="background-color: #fefbfb">
    {% include "includes/navbar.html" %}

<!--<img src="{% static 'img/banner.png' %}" class="img-fluid" alt="" style="width: 100%">-->


    <br>
            

    <div class="container" style = "margin-bottom:10px;">
    {% if messages %}
            {% for message in messages %}
            {% if message.tags == "info" %}
            <div class="alert alert-danger">{{ message }}</div>
            {% else %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
            {% endfor %}

        {% endif %}

    <br>
    {% block body %}

    
    {% endblock body %}

    </div>
<br>
    <div class="jumbotron" style="background-color:maroon; margin-top: 250px; height: 250px">

    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <h1 class="display-6 text-center">Hello, world!</h1>
        </div>

        <div class="col">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>

        <div class="col">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

        </div>
        <div class="col">

        </div>
    </div>

  
</div>

    
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

</body>
</html>