<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <title>Müstakil</title>
    <script data-ad-client="ca-pub-3937502118941434" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    {% include "includes/navbar.html" %}

<!--<img src="{% static 'img/banner.png' %}" class="img-fluid" alt="" style="width: 100%">-->


    
            
    
    <div class="container" style = "margin-bottom:10px;">
    {% if messages %}
            {% for message in messages %}
            {% if message.tags == "info" %}
            <br><br>
            <div class="alert alert-danger">{{ message }}</div>
            {% else %}
            <br><br>
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
            {% endfor %}

        {% endif %}

    <br>
    {% block body %}

    
    {% endblock body %}

    </div>

    {% block index %}
    
    {% endblock index %}

<style>
  html, body {
    height: 80%;
  }
  
  #wrap {
    min-height: 100%;
  }
  
  #main {
    overflow:auto;
    padding-bottom:100px; /* this needs to be bigger than footer height*/
  }

  .footer {
    position: relative;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear:both;
    padding-top:20px;
  } 
</style>
<div id="wrap">
  
</div>
<footer id="footer" class="footer text-white" style="background-color: #380058;
">
  <div class="text-center">
    <small>Copyright &copy; mustakil.cc</small>
  </div>
</footer>
    
    
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

</body>
</html>