{% extends 'layout.html' %}
{% block body %}

<!--<h2>{{user}}</h2>style="background-color:#ffdeec"-->

<div class="row">
    <div class="col-sm-2">
        {% if profile.user_picture %}
        <img class="btn-md" src="{{profile.user_picture.url}}" alt="" style="border-radius:50%; margin-top: 10%; margin-bottom: 10%;" width="125" height="125">
        {% endif %}
    </div>
    <div class="col-sm-4">
        <h2 style="margin-top:16.5%"><strong>{{user}}</strong></h2> 
    </div>
</div>
<hr>
<p>Doğum tarihi: {{profile.birth_date}}</p>
<br>
<p>{{profile.bio}}</p>

{% if articles %}
<div class="row">
    <div class="col">
<table class="table table-striped table-hover table-responsive-sm" style="background-color: rgb(219, 215, 224)">
        <thead class="table-dark" style="background-color: rgb(92, 0, 168)">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Başlık</th>
            <th scope="col">Tarih</th>
          </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
            <th scope="row">{{article.id}}</th>
            <td><a href="{% url 'article:detail' article.id %}">{{article.title}}</a></td>
            <td>{{article.created_date}}</td>
          </tr>          
            {% endfor %}
          <!----->
          
        </tbody>
      </table>
      </div>
      </div>

{% else %}
<div class="alert alert-danger">Henüz bir yazınız bulunmuyor :(</div>
{% endif %}

{% endblock body %}